<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/main/layout.css">
    <link rel="stylesheet" href="/css/function/functionC.css">

    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
    <script src="/js/function/Function4C.js"></script>
    <title>문장 순서화 하기</title>
</head>
<body>
    <div class="platform_wrap">
        <div class="top flexac">
            <div class="left flexac">
                <div class="logo">말귀연습</div>
                <div class="nav_wrap">
                    <ul class="flex">
                        <li><a href="/home/FunctionSelect" class="active">HOME</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="flexac">
                    <form th:action="@{/logout}" method="post">
                        <li><input type="submit" value="로그아웃" class="btn_global"></li>
                    </form>
                    <li><img src="/img/home/user.png" alt="유저" id = "user"></li>
                </ul>
            </div>
        </div>
        <div class="content_wrap sub " id = "navigationBar">
            <div class="text sub2 flex">
                <h1>04</h1>
                <h2>문장 순서화 하기</h2>
            </div>
        </div>
        <div class="list_wrap1 flex" id = "chapterTable">
            <!-- 챕터 테이블 -->
        </div>
    </div>
    <!-- (공통) 내 정보 확인 팝업 -->
    <div class="pop" style="display: none;">
        <div class="user" th:each="string : ${member}">
            <div class="photo"><img src="/img/home/user.png" alt=""></div>
            <div class="name" th:text="${member[0]}"></div>
            <div class="nb" th:text="${member[1]}"></div>
            <input type="button" value="마이페이지" class="btn_global userbtn" onclick = "location.href='/home/MyPage'">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="로그아웃" class="btn_global userbtn">
            </form>
        </div>
    </div>
</body>
</html>